.news {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: $black;
  color: $light-gray;
  padding: 40px 15%;
  margin-bottom: 40px;

  @include respond-to($mq-extra-large) {
    display: grid;
    grid-template-columns: 55% 45%;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &-article {
      display: flex;
      flex-direction: column;
      position: relative;

      &-title {
        color: $white;
        font-size: 20px;
        position: absolute;
        bottom: 10px;
        left: 5%;
        max-width: 90%;
        background: rgba($black, 0.7);
        padding: 20px;
      }

      &-description {
        margin-top: 10px;
        font-size: 16px;
        color: $light-gray;
      }

      &-image-wrapper {
        position: relative;
        width: 100%;
        min-height: 280px;
      }
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      &-article {
        display: flex;
        flex-direction: column;

        &-title {
          color: $white;
          font-size: 16px;
          margin: 10px 0 6px 0;
        }

        &-description {
          font-size: 14px;
          color: $light-gray;
        }

        &-image-wrapper {
          position: relative;
          width: 100%;
          min-height: 140px;
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-article {
      display: flex;
      gap: 20px;

      &-title {
        font-size: 14px;
        font-weight: 600;
        color: $white;
        margin-bottom: 6px;
      }

      &-description {
        font-size: 12px;
        color: $light-gray;
      }
    }
  }
}
