.media-carousel {
  &__title {
    margin-bottom: 10px;
    font-size: 20px;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    &-title {
      text-align: center;
    }

    &-job,
    &-character {
      color: $gray;
      font-size: 14px;
    }
  }
}
