.vod-page-content__filter {
  display: flex;
  flex-direction: column;
  margin-bottom: 0 !important;

  &-providers {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px 0;
  }

  &-sort {
    display: flex;
    gap: 10px;
    justify-content: center;

    &-option {
      &-label {
        display: flex;
        cursor: pointer;
        gap: 20px;
        font-size: 18px;
      }

      &-input {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        &:checked {
          & + .vod-page-content__filter-sort-option-name {
            position: relative;
            font-weight: bold;
            &::after {
              content: "";
              height: 2px;
              width: 100%;
              background-color: $black;
              position: absolute;
              bottom: -2px;
              left: 0;
            }
          }
        }
      }
    }
  }
}
