.credits-carousel {
  &__person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    &-character,
    &-name {
      max-width: 160px;
      text-align: center;
    }

    &-character {
      color: $gray;
    }
  }
}
