.main-navbar {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__list {
    background-color: $black;
  } 

  &__search {
    margin-bottom: 20px;
    width: 500px;

    &-item {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}
