.main-navbar {
  display: flex;

  &__link {
    text-decoration: none;
    padding: 4px 8px;
    color: $white;
    transition: background-color 0.3s ease;
    background-color: $black;
    font-size: 14px;

    &--active {
      color: $black;
      background-color: $white;
    }

    @include respond-to($mq-medium) {
      padding: 8px 16px;
      font-size: 16px;
    }
  }
}
