.profile {
  max-width: 1024px;
  margin: 40px auto;

  &-tab {
    display: flex;
    flex-direction: column;
    gap: 50px;

    &__items {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    &__subheader {
      margin-bottom: 8px;
    }

    &__section {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &__item {
      flex: 1;
      display: flex;
      gap: 12px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 120px;
      text-align: center;
    }
  }
}
