.series-content__information {
  &-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  &-detail {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-self: flex-start;

    &-name {
      color: $gray;
      font-size: 14px;
    }

    &-value {
      svg {
        width: 20px;
      }
    }
  }
}
