.credits-carousel {
  &__person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    &-image {
      &-placeholder {
        height: 240px;
        width: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &-character {
      color: $gray;
    }
  }
}
