.rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.small-rating {
  display: flex;
  align-items: center;
  gap: 4px;
  &--vertical {
    gap: 10px;
    @include respond-to($mq-medium) {
      gap: 0;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__votes {
    text-align: center;
    display: flex;
    color: $light-gray;
    justify-content: center;
    gap: 4px;
    align-items: center;

    @include respond-to($mq-medium) {
      flex-direction: column;
      gap: 0;
    }

    &-title {
      font-size: 10px;
    }

    &-value {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__icon {
    color: $gold;
  }
}
