.footer {
  display: flex;
  flex-direction: column;
  background-color: $black;
  color: $white;
  min-height: 300px;
  width: 100%;
  align-items: center;
  justify-content: center;

  &__links {
    display: grid;
    gap: 14px;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 0;
  }

  &__link {
    a {
      color: $light-gray;
    }
  }
}
