.people-list__item {
    display: flex;
    border: 1px solid rgba($black, 0.2);
    transition: all ease-in-out 0.2s;

    &:hover {
        background-color: rgba($black, 0.1);
    }

    &-content {
        padding: 20px;
        display: flex;
    }

    &-text {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    &-title {
        font-size: 20px;
    }

    &-overview {
        font-size: 14px;
    }

    &-known-for {
        margin-top: auto;
        font-size: 14px;
        color: $gray;
    }
}