.series-content__top-panel {
  height: 576px;
  position: relative;
  background-color: $black;

  &-wrapper {
    display: flex;
    gap: 14px;
    color: $light-gray;
    font-size: 14px;
  }

  &-details {
    position: absolute;
    bottom: 30px;
    left: 40px;
    background: rgba($black, 0.6);
    color: $white;
    padding: 20px;
    border-radius: 4px;
  }

  &-rating {
    display: flex;
    gap: 12px;
    margin-top: 6px;
  }

  &-votes-count {
    display: flex;
    flex-direction: column;
    color: $light-gray;
    justify-content: center;

    &-title {
      font-size: 12px;
    }

    &-value {
      font-size: 14px;
      line-height: 16px;
    }
  }
}
