.series-season-content__episodes {
  margin: 20px 0;

  &-list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-item {
      border: 1px solid $light-gray;
      display: flex;
      flex-direction: column;

      @include respond-to($mq-medium) {
        flex-direction: row;
      }

      &-image {
        img {
          width: 100%;
          height: auto;

          @include respond-to($mq-medium) {
            height: 100%;
          }
        }
        @include respond-to($mq-medium) {
          width: 280px;
          height: 186px;
        }
      }

      &-content {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        flex: 1;
      }

      &-release {
        font-size: 14px;
        color: $gray;
      }

      &-title {
        font-size: 18px;
      }

      &-overview {
        margin: 8px 0;
        font-size: 13px;
      }
    }
  }
}
