.series-information {
  &__details {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include respond-to($mq-medium) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }
  }

  &__detail {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-self: flex-start;

    &-name {
      color: $gray;
      font-size: 14px;
    }

    &-value {
      text-align: right;
      svg {
        width: 20px;
      }
    }
  }
}
