/* Apply a reset to all elements */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Apply basic styles to the body */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $black;
}

/* Apply basic styles to headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, sans-serif;
  font-weight: bold;
}

/* Apply basic styles to links */
a {
  text-decoration: none;
  color: $black;
}

ul {
  list-style: none;
}

.ant-carousel {
  margin-bottom: 40px;

  .slick-dots {
    bottom: -14px;

    .slick-active, li {
      button {
        background-color: $black !important;
      }
    }
  }

  .slick-next {
    right: 20px;
  }

  .slick-prev {
    right: 50px;
    left: auto;
  }

  .slick-prev,
  .slick-next {
    color: $white;
    font-size: unset;
    top: auto;
    bottom: -30px;
    z-index: 50;
    background-color: $black;
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;

    svg {
        font-size: 20px;
    }

    &:hover,
    &:focus {
      color: $white;
      background-color: $black;
    }
  }
}
