.series-images {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    grid-gap: 10px;

    &-item {
      position: relative;
      height: 180px;
    }
  }
}